<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}" >
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" >
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" >
        <title>{% block title %}Welcome!{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" aria-expanded="true">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="./home.html">
                <img alt="logo_wild_code_school" src="{{ asset('img/logowcs.png') }}" class="logo">
              </a>
            </div>
            <p class="navbar-text">WILD VILLAGE CHARTRES</p>
          </div>
        </nav>

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}

    </body>
</html>
