<!DOCTYPE html>
<html>

    <head>

        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}" >
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" >
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" >
        <title>{% block title %}Welcome!{% endblock %}</title>

    </head>

    <body>

      {% block menu %}{% include ('menu/menu.html.twig') %}{% endblock %}
      {% block body %}{% endblock %}

    </body>
</html>
