{% extends 'base_accueil.html.twig' %}

{% block body %}

<div class="container-fluid bg-social">

	<div class="row">

		<div class="bloc_principal col-md-offset-1 col-md-7">

			<div class="content">

        <div class="section col-lg-12 col-md-12 register">
          <h2>Nouveau ?</h2>
          <a href="{{ path('user_register') }}">
		  	<button type="button" name="button" class="btn">Inscription</button>
		  </a>
        </div>

        <div class="section col-lg-12 col-md-12 log">
          <h2 id="titre-connect">Se connecter</h2>
			<form>
			  Username: <input type="text" name="username"><br>
			  Password: <input type="text" name="password"><br>
			  <input type="submit" value="Se connecter" class="submit-user btn">
			</form>
        </div>

      </div>

		</div>

		<div class="bloc_amis col-md-offset-1 col-md-2">
			<p>Ici vous verrez tous vos amis !!</p>
		</div>

	</div>

</div>
{% endblock %}
