<div class="bloc_amis col-md-offset-1 col-md-2">
  
	<ul>        
    {% for x in sidebar_user %}
      <li><a href="{{ path('friend', {'friend': x.id}) }}">{{ x.username }}</a></li>
    {% endfor %}
	</ul>

</div>
