body {

}

/*--------------------------------------*/

.bloc_principal {
	padding-top: 80px;
}

/*--------------------------------------*/

.section{
	margin-top: 15px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

.bg-social {
	background: url(../img/social3.jpeg);
	background-position: center;
	background-size: cover;
}

.register {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.log {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px 0;
}

form > input {
	margin-bottom: 20px;
	color: black;
}
.login-formulaire {
	color: black;
}
label {
	color: white;
}
.btn-inscription {
	margin-left: -120px;
}
.submit-user {
	margin-left: 85px;
}

#titre-connect {
	margin-left: 60px;
}

.form-flex {
	display: inline;
}

.form-messagerie label {
	color: black;
}
/*--------------------------------------*/

.enregistrement_formulaire{
	margin-top: 95px;
}

.enregistrement_formulaire .formulaire2{
	margin-top: 55px;
}

.enregistrement_formulaire .obligatoire{
	border: 1px solid red;
}

/*--------------------------------------*/

.row_messagerie .form-group{
	padding-top: 35px;
	margin-bottom: 35px;
}

.row_messagerie .form-group input {
	margin-top: 5px;
}

/*--------------------------------------*/

.bloc_amis{
	margin-top: 95px;
	border: 1px solid black;
	height:600px;
}

.register-div {
	margin-top: 100px;
}
