/*COMMUN A TOUTES LES PAGES*/

.bloc_principal {
	margin-top: 80px;
	
	background-color: rgba(240, 240, 240, 0.9);
}
h3 {
	color: rgb(237, 175, 80);
}
/*--------------------------------------*/
/*MENU navbar*/

.navbar-brand{
	padding:10px;
}

.navbar-right #logout{
	color:red;
}

.welcome{
	padding-left : 20px;
	font-size: 20px;
}

/*--------------------------------------*/
/*PAGE ACTU*/

.flux p{
	color: black;
}

.flux {
	padding: 10px;
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.5);
}


/*--------------------------------------*/
/*PAGE FRIEND*/

.friend_profil{
	padding: 10px;
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #000;
}

.friend_stat{
	padding: 10px;
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #000;
}

.friend_post{
	padding: 10px;
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #000;
}

/*--------------------------------------*/

.section{
	margin-top: 15px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

.sectionhome{
	margin-top: 15px;
	color: white;
}

.post{
	padding: 10px;
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #000;
}


.post{
	padding: 10px;
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #000;
}

.bg-social {
	background: url(../img/social3.jpeg);
	background-position: center;
	background-size: cover;
}

.register {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.log {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 20px 0;
}

form > input {
	margin-bottom: 20px;
	color: black;
}
.login-formulaire {
	color: black;
}
label {
	color: white;
}
.btn-inscription {
	margin-left: -120px;
}
.submit-user {
	margin-left: 85px;
}

#titre-connect {
	margin-left: 60px;
}

.form-flex {
	display: inline;
}

.form-messagerie label {
	color: black;
}
/*--------------------------------------*/

.enregistrement_formulaire{
	margin-top: 95px;

}

.enregistrement_formulaire .formulaire2{
	margin-top: 55px;
}

.enregistrement_formulaire .obligatoire{
	border: 1px solid red;
}

/*--------------------------------------*/

.row_messagerie .form-group{
	padding-top: 35px;
	margin-bottom: 35px;
}

.row_messagerie .form-group input {
	margin-top: 5px;
}

/*--------------------------------------*/

.bloc_amis{
	margin-top: 95px;
	border: 1px solid black;
	height:600px;
}

.register-div {
	margin-top: 100px;
}

.user-home {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(205,237,244,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(205,237,244,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(205,237,244,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(205,237,244,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(205,237,244,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(205,237,244,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cdedf4', GradientType=0 );
}
