{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="row">
			<div class="bloc_principal col-md-offset-1 col-md-7">

          {% for x in flux %}
            <div class="section col-lg-12 col-md-12">
              <p>{{ x['billet'] }}</p>
            </div>
          {% endfor %}

      </div>

      <div id="sidebar">
            {{ render(controller('ActuBundle:Actu:sidebar')) }}
      </div>

		</div>
	</div>
{% endblock %}
