{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="row">

			<div class="bloc_principal col-md-offset-1 col-md-7">

				<div class="content">

	        <div class="section col-lg-12 col-md-12">
            <h2>Article 1, Auteur : Cédric, Date 03/05/2016</h2>
            <p>Dans le sujet proposé « réseaux sociaux et thérapie », j’interroge l’impact d’une « identité sociale » potentiellement accessible via internet, par les thérapeutes sur leurs clients et inversement.<br>
            L’AT a-t-elle un champ « sociologie » ?<br>
            Je poserai d’abord la question : l’AT a-t-elle une branche « sociologie » ? Je connais AT et organisation, AT et éducation, AT et thérapie individuelle et de groupe, mais AT et sociologie ? Je me souviens, lors de ma première année de formation en AT, nous avons fait l’egogramme de « France Inter » et d’« Europe 1 » ; c’est ce regard « sociologique » qui me semble concerné par cette question passionnante des réseaux sociaux.<br>
            L’impact des réseaux sociaux sur la thérapie : une question d’exhibitionnisme ?</p>
            <div class="brame col-lg-offset-1 col-lg-10">
            	<textarea class="form-control" id="Input_brame" rows="3" placeholder="..."></textarea>
            	<span><a href="#">Brame</a></span>
            	<p>Brames (3) : Génial cet article ...</p>
            </div>
	        </div>

	        <div class="section col-lg-12 col-md-12">
           <h2>Article 2, Auteur : Sylvian, Date 02/05/2016</h2>
            <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce   à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
            <div class="brame col-lg-offset-1 col-lg-10">
            	<textarea class="form-control" id="Input_brame" rows="3" placeholder="..."></textarea>
            	<span><a href="#">Brame</a></span>
            </div>
	        </div>

	        <div class="section col-lg-12 col-md-12">
           <h2>Article 3, Auteur : Frédéric, Date 01/05/2016</h2>
            <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce   à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
            <div class="brame col-lg-offset-1 col-lg-10">
            	<textarea class="form-control" id="Input_brame" rows="3" placeholder="..."></textarea>
            	<span><a href="#">Brame</a></span>
            	<p>Brame (1) : Super ! ...</p>
            </div>
	        </div>

	      </div>

			</div>

      <div id="sidebar">
            {{ render(controller('ActuBundle:Actu:sidebar')) }}
      </div>

		</div>
	</div>
{% endblock %}
