{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
  <div class="row messagerie">

    <div class="bloc_principal col-md-offset-1 col-md-7">

      <form  method="post" action="{{ path ('messagerie_new') }}" class="form-group form-messagerie">
          <div class="row">
              <div class="champ-destinataire col-md-6">
                  <label> Destinataire </label>
                  <br />
                  <input type="text" name="destinataire"></input>
              </div>
              <div class="sujet col-md-6">
                  <label> Sujet </label>
                  <br />
                  <input type="text" name="Sujet"></input>
                  <br />
              </div>
          </div>
          <label> Nouveau message </label>
          <textarea class="form-control" id="new_post" name="message" rows="3"></textarea>
          <input type="submit" value="Envoyer">
      </form>

      <div class="section col-lg-12 col-md-12">
          {% for msg in tab %}
            <p>{{ msg['expediteur']}}</p>
            <p>{{ msg['message']}}</p>
          {% endfor %}

      </div>

      <div class="section col-lg-12 col-md-12">

      </div>

        </div>

      <div id="sidebar">
            {{ render(controller('ActuBundle:Actu:sidebar')) }}
      </div>

    </div>
  </div>

{% endblock %}
