{% extends 'base.html.twig' %}

{% block body %}
  <div class="container-fluid">
    <div class="bloc_principal col-md-offset-1 col-md-7">
      <div class="row">

        <form class="form_messagerie col-md-12" method="post" action="{{ path ('messagerie_new') }}">
          <div class="form-group">
            <input type="text" class="form-control" name="destinataire" placeholder="Nom d'utilisateur">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Ecrivez votre wild message ici ..." ></textarea>
          </div>
          <input type="submit">
        </form>

        {% for msg in tab|reverse %}
          <div class="col-md-12">
            <p>{{ msg['auteur']|upper }}</p>
            <p>{{ msg['message']|lower }}</p>
          </div>
        {% endfor %}


      </div>
    </div>

    <div id="sidebar">
      {{ render(controller('ActuBundle:Actu:sidebar')) }}
    </div>

  </div>

{% endblock %}
