{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
  <div class="row messagerie">

    <div class="bloc_principal col-md-offset-1 col-md-7">

      <fieldset class="form-group">
        <label for="exampleTextarea">Nouveau message :</label>
        <textarea class="form-control" id="new_post" rows="3"></textarea>
        <input type="submit" value="Postez">
      </fieldset>

      <div class="section col-lg-12 col-md-12">
        <h2>Message reçu le 03/05/2016 de Sylvian<span><a href="#">Répondre</a></span></h2>
        <p>Dans le sujet proposé « réseaux sociaux et thérapie », j’interroge l’impact d’une « identité sociale » potentiellement accessible via internet, par les thérapeutes sur leurs clients et inversement.<br>
        L’AT a-t-elle un champ « sociologie » ?<br>
        L’impact des réseaux sociaux sur la thérapie : une question d’exhibitionnisme ?</p>
        <span><a href="#">Supprimez</a></span>
      </div>

      <div class="section col-lg-12 col-md-12">
        <h2>Message reçu le 01/05/2016 de Frédéric<span><a href="#">Répondre</a></span></h2>
        <p>Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p>
        <span><a href="#">Supprimez</a></span>
      </div>

      <nav>
        <ul class="pager">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </nav>

      <div class="section col-lg-12 col-md-12">
        <h2>Message envoyé le 03/05/2016 à Sylvian</h2>
        <p>De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes).</p>
        <span><a href="#">Supprimez</a></span>
      </div>

      <div class="section col-lg-12 col-md-12">
        <h2>Message envoyé le 02/05/2016 à Thomas</h2>
        <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard.</p>
        <span><a href="#">Supprimez</a></span>
      </div>

      <nav>
        <ul class="pager">
          <li><a href="#">Previous</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </nav>

    </div>

    <div class="bloc_amis col-md-offset-1 col-md-2">
        <p>Ici vous verrez tous vos amis !!</p>
    </div>

    </div>
  </div>

{% endblock %}
